# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

import /init.environ.rc
import /init.usb.rc
import /init.${ro.hardware}.rc
import /init.usb.configfs.rc

on early-init


on init


on post-fs-data


on boot
    chown system system /sys/class/timed_output/vibrator/wf_s0
    chown system system /sys/class/timed_output/vibrator/wf_s1
    chown system system /sys/class/timed_output/vibrator/wf_s2
    chown system system /sys/class/timed_output/vibrator/wf_s3
    chown system system /sys/class/timed_output/vibrator/wf_s4
    chown system system /sys/class/timed_output/vibrator/wf_s5
    chown system system /sys/class/timed_output/vibrator/wf_s6
    chown system system /sys/class/timed_output/vibrator/wf_s7
    chown system system /sys/class/timed_output/vibrator/wf_update_now
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/blue/blink

    start bqbootanim


service surfaceflinger /system/bin/surfaceflinger
    class core
    user system
    group graphics drmrpc
    onrestart restart zygote
    writepid /dev/cpuset/system-background/tasks


service bqbootanim /system/bin/bqbootanimation /system/media/bootanimation.mp4 /system/media/bootanimation_intro.mp4
    oneshot
    user media
    group graphics audio
    disabled


service flash_recovery /system/bin/install-recovery.sh
    class main
    oneshot


on property:persist.logd.logpersistd=logcatd
    # all exec/services are called with umask(077), so no gain beyond 0700
    mkdir /data/misc/logd 0700 logd log
    # logd for write to /data/misc/logd, log group for read from pstore (-L)
    exec - logd log -- /system/bin/logcat -L -b all -v threadtime -v usec -v printable -D -f /data/misc/logd/logcat -r 64 -n 256
    start logcatd

service logcatd /system/bin/logcat -b all -v threadtime -v usec -v printable -D -f /data/misc/logd/logcat -r 64 -n 256
    class late_start
    disabled
    # logd for write to /data/misc/logd, log group for read from log daemon
    user logd
    group log
    writepid /dev/cpuset/system-background/tasks
